@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0 !important;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #0f172a;
}

.slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: #3b82f6;
  cursor: pointer;
  border: none;
}

.slider-thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #3b82f6;
  cursor: pointer;
  border: none;
}
